extends ../layout.pug 
block header
  input(id="menu-toggle" type="checkbox")
  label(class='menu-button-container' for="menu-toggle")
  div.menu-button
    i.fas-icon-light-header(id="hamburger-menu" class="fa-solid fa-bars")
  ul.menu
    if user.role === 'admin' || user.role === 'supervisor'
      li.menu-item 
        a(href='/archive')
          i.fas-icon-light.menu-icon(class="fa-solid fa-box-archive") 
          h4.menu-text Archives
    if user.role === 'admin'
      li.menu-item 
        a(href='/users')
          i.fas-icon-light.menu-icon(class="fa-solid fa-users") 
          h4.menu-text Users
    li.menu-item 
      a(href=`/users/${user.username}`)
        i.fas-icon-light.menu-icon(class="fa-solid fa-gear")
        h4.menu-text Account
    li.menu-item
      form(id='logout' action="/logout" method="post")
        i.fas-icon-light-menu.menu-icon-logout(id="logout-icon" class="fa-solid fa-right-from-bracket")
          btn(type="submit") 
          
block content  
  div.main-container
    if filter == null
      h2.content-title Exclusions List: All 
        small (#{exclusions.length})
        small.date #{date}
    else 
      h2.content-title Exclusions List: #{filter.charAt(0).toUpperCase() + filter.slice(1)} 
        small (#{exclusions.length})
        small.date #{date}

    ul.list 
      if user.role === 'admin' || user.role === 'supervisor'
        .left-btn-div
          a(href='/add_new_exclusion')
            button.new-excl-btn + New Exclusion
          .right-btn-div
            btn(onclick=`window.print()`)
              .fas-icon(class="fa-solid fa-print")

      .bottom-div
        .bottom-left-div
          //-* Filter dropdown:
          form(id='form-filter-sort' method="get")
            button.filter-btn.active-btn(id='active' name='filter' value='active' class=filter=='active'? 'btn-active' : '') Active
            button.filter-btn.pending-btn(id='pending' name='filter' value="pending" class=filter=='pending'? 'btn-active' : '') Pending
            button.filter-btn.limited-btn(id='limited' name='filter' value="limited" class=filter=='limited'? 'btn-active' : '') Limited 
            button.filter-btn.lifetime-btn(id='lifetime' name='filter' value="lifetime" class=filter=='lifetime'? 'btn-active' : '') Lifetime 
            button.filter-btn.all-btn(id='all' name='filter' value="all" class=filter=='all'||filter==null? 'btn-active' : '') All
            
      hr
      each exclusion in exclusions
        .excl-card
          a.link(href=`/home/${exclusion._id}`)
            div.right-div
              img.image.exclusion-image(src=`${exclusion.img_url}`) 
            div.exclusion-list-item
              li.exclusion-item
                h3.exclusion-name Name: #{exclusion.last_name}, #{exclusion.first_name} 
                  if exclusion.dob !== '' && exclusion.dob !== 'Invalid date'
                    | (DOB: #{exclusion.dob})
              li.exclusion-item
                strong Length: 
                if exclusion.length === 'Infinity' || exclusion.length === 'Lifetime'
                  strong(class='red-filter') Lifetime 
                else 
                  | #{exclusion.length} days
              li.exclusion-item 
                strong Date Served: 
                | #{!exclusion.pending ? exclusion.date_served : 'Pending'}
              li.exclusion-item 
                strong Expires on: 
                | #{exclusion.exp_date !== 'Invalid date' && exclusion.exp_date !== 'Lifetime' ? exclusion.exp_date : 'N/A'}
              li.exclusion-item 
                strong Violation(s): 
                | #{exclusion.ordinance}
              li.exclusion-item 
                strong Description: 
                | #{exclusion.description.split(' ').slice(0,26).join(' ')}...
              if exclusion.other_info !== ''
                li.exclusion-item 
                strong Other Info: 
                | #{exclusion.other_info}
              else
                li.exclusion-item 
                strong Other Info: 
                | N/A

    //- Render links based on authorization:
    .left-btn-div
    #modal

  script(src='/static/js/logout.js')